@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=MedievalSharp&display=swap");

* {
    /*  border: 2px solid yellow; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {

    /* COLORS */
    --text: #eae8f2;
    --background: #1d075c;
    --primary: #ada2db;
    --secondary: #6f563e;
    --accent: #766e97;

    /* BORDERS */
    --border-radius: 30px;
}

/* UTILITY */
.nowrap {
    white-space: nowrap;
}

/* STYLES */

h1 {
    font-family: "MedievalSharp";
    font-weight: 700;
    font-size: 2rem;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Cherry Swash", sans-serif;
    width: 100%;
}

header {
    background-color: var(--primary);
    width: 100%;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

h2 {
    font-size: 1.5rem;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.staff-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

a:any-link {
    text-decoration: none;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

a:hover,
a:focus,
input[type=submit]:hover {
    transform: scale(1.1);
}


.banner {
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    background-color: var(--secondary);
    font-size: 2rem;
    text-align: center;
    border-radius: 20px 15px 10px 5px;
    width: 90%;
    margin: 10rem auto 0 auto;
}

section {
    scroll-margin-top: 7.5rem;
}

section>div {
    width: 100%;
    text-align: center;
    background-color: var(--background);
    padding: 1rem;
    border-radius: var(--border-radius);
}

section>img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border: 20px solid var(--accent);
    border-radius: var(--border-radius);
}

.Wands,
.Orbs,
.Staves,
.ytvid {
    width: 60%;
    margin-top: 2rem;
}

.Wands,
.Orbs,
.Staves {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary);
    border-radius: var(--border-radius);
}



.Wands {
    margin-left: 35%;
    gap: 2rem;
    justify-content: center;
    padding: 1%;
}



.Orbs {
    margin-right: 35%;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.Staves {
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.ytvid {
    height: auto;
    margin: 2rem auto 0 auto;
    background-color: var(--accent);
    padding: 1rem;
    border-radius: var(--border-radius);

}

.ytvid iframe {
    display: block;
    width: 100%;
    height: 315px;
    border-radius: var(--border-radius);
    margin: 1rem auto 1rem auto;
    border: 30px solid var(--background);
}

form {
    width: 60%;
    background-color: var(--accent);
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    border-radius: var(--border-radius);
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    margin-top: 1rem;
    background: var(--background);
    border-radius: var(--border-radius);
    padding: 1.1rem;
    width: 100%;
    color: var(--text);
    font-family: inherit;
}

input[type=submit] {
    background-color: var(--primary);
    color: #1d075c;
    width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

@media screen and  (max-width: 760px) {
  
    nav {
        flex-wrap: wrap;
    }
  
    a:any-link {
        padding: 0.1rem;
        margin-top: 1.5rem;
    }

    .banner {
        margin-top: 15rem;
    }

    .Wands,
    .Orbs,
    .Staves {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .ytvid {
        width: 90%;
    }

    form {
        width: 90%;
    }
}