@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=MedievalSharp&display=swap");

* {
    /*  border: 2px solid yellow; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {

    /* COLORS */
    --text: #eae8f2;
    --background: #1d075c;
    --primary: #ada2db;
    --secondary: #6f563e;
    --accent: #766e97;

    /* BORDERS */
    --border-radius: 30px;
}

/* UTILITY */
.nowrap {
    white-space: nowrap;
}

/* STYLES */

body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
}

body>* {
    box-shadow: 2px 2px black;
}

h1 {
    font-family: "MedievalSharp";
    font-weight: 700;
    font-size: 2rem;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Cherry Swash", sans-serif;
    width: 100%;
}

header {
    background-color: var(--background);
    width: 100%;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 2px 2px black;
}

h2 {
    font-size: 1.5rem;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.staff-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    align-self: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.1rem;
    flex-wrap: wrap;
}

a:any-link {
    text-decoration: none;
    color: var(--text);
    padding: 0.1rem;
    border-radius: 5px;
    font-size: 1rem;
}

a:hover,
a:focus,
input[type=submit]:hover {
    transform: scale(1.1);
    color: var(--primary);
}

.banner {
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    background-color: var(--secondary);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 30px;
    width: 90%;
    align-self: center;
    margin-top: 11.5rem;
}

section {
    scroll-margin-top: 9rem;
    width: 95%;
}

section:last-of-type {
    margin-bottom: 2rem;
}

section>div {
    width: 100%;
    text-align: center;
    background-color: var(--background);
    padding: 1rem;
    border-radius: var(--border-radius);
}

section>img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border: 5px solid var(--accent);
    border-radius: var(--border-radius);
}

.Wands,
.Orbs,
.Staves {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    gap: 1.5rem;
}

.Wands {
    justify-content: center;
    padding: 1%;
}



.Orbs {
    justify-content: center;
    padding: 1%;
}

.Staves {
    justify-content: center;
    padding: 1%;
}

.ytvid {
    height: auto;
    background-color: var(--accent);
    padding: 1rem;
    border-radius: var(--border-radius);

}

.ytvid iframe {
    display: block;
    width: 100%;
    height: 315px;
    border-radius: var(--border-radius);
    border: 30px solid var(--background);
}

form {
    width: 95%;
    background-color: var(--accent);
    padding: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

input {
    display: block;
    font-size: 1rem;
    background: var(--background);
    border-radius: var(--border-radius);
    padding: 2%;
    width: 100%;
    color: var(--text);
    font-family: inherit;
    text-align: center;
}

input[type=submit] {
    background-color: var(--primary);
    color: #1d075c;
    width: 80%;
    align-self: center;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

@media screen and (min-width: 424px) {
    .banner {
        margin-top: 7rem;
    }
}

@media screen and (min-width: 767px) {
    h1 {
        font-size: 3rem;
    }

    nav {
        gap: 2rem
    }

    .banner {
        margin-top: 8rem;
    }

    form {
        width: 70%;
    }

    section {
        width: 70%;
    }

    section img {
        width: 25%;
        height: 25%;
    }
}